@page "/"
@using API_RandMpersonajesBack.Models
@using Newtonsoft.Json;
@inject HttpClient cliente;

<PageTitle>Home</PageTitle>

<h1>Rick and Morty Characters</h1>

@if (Personaje == null)
{
	<p>Empty</p>
}
else if (Personaje.Results == null || Personaje.Results.Count == 0)
{
	<p>No hay datos</p>
}
else
{

	<div class="row">
		@foreach (var personaje in Personaje.Results)
		{
			<div class="col mt-3">
				<div class="card">
					<img src="@personaje.image" class="card-img-top" alt="No Image">
					<div class="card-body">
						<p><strong>@personaje.name</strong></p>
						<p>@personaje.status</p>
						<p>@personaje.species</p>
						<p>Score: @personaje.puntaje</p>
						<div class="d-flex justify-content-center gap-2">
							<button class="btn btn-light p-0"
							style="width: 40px; height: 40px;"
							@onclick="() => like(personaje)">
								<img src="imagenes/likes.jpg" class="w-100 h-100" alt="Like" />
							</button>
							<small>@personaje.likes</small>
							<button class="btn btn-light p-0"
							style="width: 40px; height: 40px;"
							@onclick="() => dislike(personaje)">
								<img src="imagenes/dislike.jpg" class="w-100 h-100" alt="Like" />
							</button>
							<small>@personaje.dislikes</small>
						</div>

					</div>
				</div>
			</div>
		}

	</div>


}

@code {
	private string busqueda = "";
	protected async Task like(Personaje personaje)
	{
		personaje.puntaje++;
		personaje.likes++;
	}
	protected async Task dislike(Personaje personaje)
	{
		personaje.dislikes++;
		personaje.puntaje--;
	}
	public string DebugMessage { get; set; } = "Componente inicializado";

	public Personajes Personaje { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await GetPersonajes();
	}

	private async Task GetPersonajes()
	{
		try
		{

			var responde = await cliente.GetAsync("Api/Personajes/Personajes");

			if (responde.IsSuccessStatusCode)
			{
				string responsebody = await responde.Content.ReadAsStringAsync();
				Personaje = JsonConvert.DeserializeObject<Personajes>(responsebody);
			}
			else
			{
				Console.WriteLine($"Error en la respuesta: {responde.StatusCode}");
			}
		}
		catch (Exception ex)
		{
			Console.WriteLine("Error en la petición:");
			Console.WriteLine(ex.Message);
		}
	}
	

}

